h1 {
color:blue;
font-family:verdana;
font-size:8px;
}

h2{
color:blue;
font-family:Savoye LET;
font-size:76px;
background-color:cyan;
border-style:outset;
border-with:40px;
padding:20px;
}

h3{
color:cyan;
font-family:Brush Script MT;
font-size:28px;
background-color:blue;
border-style:outset;
border-with:40px;
padding:20px;
}

p{
color:hotpink;
font-family:Brush Script MT;
font-size:28px;
background-color:#ffb5ff;
border-style:outset;
border-with:40px;
padding:20px;
}
